<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching Products from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Products">
  <thead>
    <tr>
      <th>ProductId</th>
      <th>Description</th>
      <th>Price</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Product of Products">
      <td>{{ Product.ProductId }}</td>
      <td>{{ Product.Description }}</td>
      <td>{{ Product.Price }}</td>
      <td>{{ Product.Created }}</td>
      <td>{{ Product.Updated }}</td>
    </tr>
  </tbody>
</table>
